# Configurações do Firebase (Opcional - caso queira conectar ao seu projeto na nuvem)
# Você também pode colar este JSON diretamente na aba 'Ajustes > Nuvem Firebase' dentro do próprio app!

VITE_FIREBASE_API_KEY=AIzaSy...
VITE_FIREBASE_AUTH_DOMAIN=ipra-avisos.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ipra-avisos
VITE_FIREBASE_STORAGE_BUCKET=ipra-avisos.appspot.com
VITE_FIREBASE_MESSAGING_SENDER_ID=1234567890
VITE_FIREBASE_APP_ID=1:1234567890:web:...
